// Fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap"); // [Barlow] 600
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap"); // [Fraunces] 700 900

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-ai-c {
    align-items: center;
  }

  &-column {
    flex-direction: column;
  }
}

.hide-for-desktop {
  @media screen and (min-width: 1000px) {
    display: none;
  }
}

.hide-for-mobile {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.noscroll {
  html {
    overflow: none;
  }
}
